form{
    background: #EEEEEE;
    padding: 10px;
    text-align: center;
    display: inline-block;
}
label{
    display: block;
    margin: 8px;
    text-align: left;
}
select,
input{
    float: right;
    width: 40%;
}
button{
    display: block;
    width: 65px;height: 22px;
    margin: 10px 0 12px 98px;
}